body{
    margin: 20px;
}
header{
    background-color: rgb(56, 46, 199);
    font-weight: bold;
    color: white;
    padding: 5px;
}
h1{
    padding-left: 10px;
}
nav ul{
    text-align: right;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: #fff;
}
section{
    border: 5px solid skyblue;
    padding: 20px;
    line-height: 40px;
}
section ul li{
    list-style-type: square;
}
section ol li{
    list-style-type: upper-roman;
}
footer{
    background-color: rgb(56, 46, 199);
    text-align: center;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}